.paginator{
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: center;
    margin: 0px;
    padding-inline-start: 0;
    font-size: 14px;
    line-height: 21px;
}

@media (max-width: 550px) {
    .paginator{
        justify-content: center;
    }
    .pageLink{
        font-size: 16px;
    }
    
}

.activePage{
    background: #0064EB;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
}

.pageLink{
    color: #808080;
    cursor: pointer;
}

.activeLink{
    color: white;
}